<div class="bg-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6bdLrK5fNxQ0sfQoMmd-CfiiLHkZh6nK5tMWrs1VIT33qG_TZ06j6eyjojvZTfN8xlBY&usqp=CAU'); height: 100vh; width: 100vw;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12">
                <div class="row g-3 mt-4">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <h1 class="text-light">User Registeration</h1>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="name">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Aadhar Number</label>
                        <input type="text" class="form-control" name="aadharNumber" [(ngModel)]="aadharNumber">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label text-light">Address</label>
                        <textarea name="" id="" rows="5" class="form-control" name="address" [(ngModel)]="address"></textarea>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Pin Code</label>
                        <input type="text" class="form-control" name="pin" [(ngModel)]="pin">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Date of Birth</label>
                        <input type="date" class="form-control" name="dob" [(ngModel)]="dob">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Email</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="email">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Phone Number</label>
                        <input type="text" class="form-control" name="phone" [(ngModel)]="phone">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Username</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="username">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="password">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label text-light">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <a class="btn btn-success" routerLink="/view" (click)="readValues()">Register User</a>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <a href="/userlogin" class="btn btn-primary">back to user login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
